/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
.phpunit.result.cache
public/css/*
public/js/*
public/f7186078e00d958aa2b316483dfc7e1c.js
public/mix-manifest.json
.phpstorm.meta.php


